@model COMP003B.SP25.FinalProject.VerissimoA.Models.Shelter

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shelter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelterEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelterEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShelterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
