@model IEnumerable<COMP003B.SP25.FinalProject.VerissimoA.Models.Adopter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our Current List of Adopters: </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdopterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdopterEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdopterAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdopterPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdopterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdopterEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdopterAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdopterPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdopterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdopterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdopterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
